# In order to run the tests for all the available database, you must configure
# some ENV vars for the databases you wish to test.

# It is safe to use existing dev databases as long as the user has the ability
# to create tables. The tables created are prefixed and cleaned up after the
# test completes.

# You must also install the database driver.
# sqlite tests will auto run if sqlite dbd driver is installed.

# to run all tests, execute make test
# to run an individual test, you will need to explicity include the lib
#   cd t
#   perl -I../lib ./001_load.t

export ORACLE_DSN='dbi:Oracle:webdev10g'
export ORACLE_USER='events'
export ORACLE_PASS='XXXXX'

export MYSQL_DSN='dbi:mysql:testoq'
export MYSQL_USER='testoq'
export MYSQL_PASS='testoq'

export PG_DSN='dbi:Pg:dbname=testoq;hostaddr=127.0.0.1'
export PG_USER='testoq'
export PG_PASS='testoq'

export SQLSERVER_DSN='dbi:ODBC:DRIVER={ODBC Driver 11 for SQL Server};Server=wsus.sr.unh.edu;database=PDF_Submission;MARS_Connection=yes'
export SQLSERVER_USER='XXXXXX'
export SQLSERVER_PASS='XXXXXX'
